<div class="row">

  <!-- Card to buy the ticket -->
  <div  class="col-md-5 col-sm mb-3" 
        *ngIf="!lottery.finished">
    <app-ticket></app-ticket>
  </div>
  
  <!-- Card with the lottery result -->
  <div  class="col-md-7 col-sm mb-3" 
        *ngIf="lottery.finished">
      <app-result-lottery></app-result-lottery>
  </div>

  <!-- Card with the list of tickets and the buttons to end and reset the lottery -->
  <div class="col mb-3">
    <app-list-tickets></app-list-tickets>
  </div>
  
</div>
