<div class="d-flex justify-content-between mb-2">

  <div class="d-xl-flex align-items-center">

    <span *ngFor="let ball of ticket.balls"
          class="badge rounded-pill bg-primary mx-1">
      {{ ball }}
    </span>
    <span *ngFor="let ball of [].constructor(10 - ticket.balls.length); let i = index"
          class="badge rounded-pill bg-secondary mx-1">
      &nbsp;
    </span>

  </div>

  <button class="btn btn-danger"
          (click)="resetTicket()">
    <i class="bi bi-trash-fill"></i>
  </button>

</div>

<span class="badge bg-info" *ngIf="ticket.balls.length < 10">You need to select 10 balls</span>